.accommodation-sections {
  .section {
    .inner {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    .section-heading {
      .title {
        font-weight: 700 !important;
      }
    }

    &.pattern-background {
      background: url('../images/accommodation-list-bg.png') no-repeat;
      background-color: $white;
      background-size: cover;
      background-position: center;
      box-shadow: 0 0 8px rgba($black, 0.2);
    }

    .accommodation-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -16px;
      padding-bottom: 48px;

      .accommodation-item {
        width: calc(100% - 24px);
        margin: 12px;
        background-color: $white;
        box-shadow: 0 0 8px 2px rgba($black, 0.2);
        border-bottom: 5px solid #7C174B;
        position: relative;

        .meta {
          padding: 24px 24px 120px;

          .title {
            font-weight: 700;
            margin-bottom: 12px;
          }

          .button-findout {
            @include font-size-300;
            background-color: transparent;
            border: 1px solid $color-two-500;
            color: $color-two-500;
            padding: 7px 12px;
            text-transform: uppercase;
          }
        }

        .footer {
          background-color: #FAFAFA;
          justify-content: space-between;
          align-items: center;
          padding-top: 12px;
          padding-bottom: 12px;
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          text-align: center;

          .rating {
            padding-left: 24px;
            padding-right: 24px;
            margin-bottom: 12px;

            .rating-star {
              .star {
                font-size: 22px;
                width: 117px;
                height: 22px;
                margin: 0 auto;
              }

              .fill {
                font-size: 22px;
                height: 22px;
                color: #FFB41F;
              }
            }
          }

          .action {
            .button-book {
              text-transform: uppercase;
            }
          }

          .button-findout {
            background-color: #B4768E;
            color: $white;
            text-transform: uppercase;
            margin-bottom: 8px;
          }
        }

        @include breakpoint(crawler) {
          width: calc(50% - 24px);
        }

        @include breakpoint(walker) {
          width: calc(33.333333% - 24px);
        }

        @include breakpoint(runner) {
          .meta {
            padding: 24px 24px 80px;
          }

          .footer {
            display: flex;

            .rating {
              margin-bottom: 0;
            }

            .button-findout {
              margin-bottom: 0;
            }
          }
        }

        @include breakpoint(flyer) {
          width: calc(33.333333% - 32px);
          margin: 16px;
        }
      }
    }

    .accommodation-view-more {
      text-align: center;

      a {
        font-weight: 700;
        color: $color-text;
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }
}

.destination-slider {
  position: relative;

  &:before {
    content: '';
    display: block;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: $white;
    box-shadow: inset 0 5px 5px rgba($black, 0.2);
    height: 240px;
  }

  .destination-slider-container {
    background-color: #F9FAF9;
    box-shadow: 0 0 5px 2px rgba($black, 0.2);
    border-bottom: 8px solid #7C174B;
    position: relative;

    .slides {

      .flickity-prev-next-button {
        top: 30%;
        width: 24px;
        height: 24px;

        &.previous {
          left: 12px;
        }

        &.next {
          right: 12px;
        }

        @include breakpoint(crawler) {
          top: 35%;
        }

        @include breakpoint(walker) {
          top: 39%;
        }

        @include breakpoint(runner) {
          top: 43.5%;
        }
      }

      .slide {
        width: 100%;

        .slide-image {

        }

        .slide-text {
          padding: 48px;
          text-align: center;

          .heading {
            font-weight: 400;
            margin-bottom: 32px;
          }

          .text {
            color: #868686;
          }

          @include breakpoint(creeper) {
            padding: 48px 64px;
          }
        }

        .accommodation-sections {
          .destination-hotel-selection {
            background-color: transparent;
            padding-top: 0;
            padding-bottom: 0;

            .inner {
              padding-top: 0;
              padding-bottom: 0;
            }

            .js-destination-inner-slider {
              display: block;

              .flickity-page-dots {
                bottom: 0;
                position: relative;
                padding-top: 48px;
                padding-bottom: 48px;

                .dot {
                  width: 18px;
                  height: 18px;
                  border: 2px solid $black;
                  margin: 0 6px;

                  &.is-selected {
                    background-color: $black;
                  }
                }
              }

              .accommodation-item {
                width: 100%;
                background-color: transparent;
                padding: 12px;
                margin: 0;
                box-shadow: none;
                position: absolute;
                border-bottom: 0;

                @include breakpoint(crawler) {
                  width: 50%;
                }

                @include breakpoint(walker) {
                  width: 33.333333%;
                }

                &:before {
                  content: '';
                  background-color: $white;
                  top: 12px;
                  bottom: 12px;
                  left: 12px;
                  right: 12px;
                  position: absolute;
                  box-shadow: 0 0 5px 2px rgba($black, 0.2);
                }

                .image, .meta {
                  position: relative;
                }

                .footer {
                  width: auto;
                  left: 12px;
                  right: 12px;
                  border-bottom: 5px solid #7C174B;

                  .rating {
                    padding-left: 12px;
                  }
                }
              }
            }
          }
        }
      }

      @include breakpoint(crawler) {
        .flickity-prev-next-button {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.destination-hotel-selection {
  padding-top: 48px;

  .accommodation-list {
    padding-bottom: 0 !important;
  }
}

.accommodation-sections {
  .section.destination-hotel-selection {
    background-color: $white;

    .section-heading {
      .title {
        font-weight: 400 !important;
      }
    }
  }
}

.accommodation-detail-container {
  .accommodation-detail-desc {
    text-align: center;
    margin-bottom: 48px;

    .inner {
      max-width: 900px;
    }

    .heading {
      margin-bottom: 32px;
    }

    .wysiwyg-post {
      color: #868686;
    }
  }

  .search-filter {

    .search-filter-container {
      position: relative;
    }
  }

  .accommodation-detail-content {
    background-color: $white;
    box-shadow: inset 0 4px 4px rgba($black, 0.2);
    margin-top: -48px;

    .accommodation-detail-slider {

      .inner {
        padding-top: 96px;
        padding-bottom: 48px;
      }

      .slides {
        border-bottom: 5px solid #7C174B;

        .slide {
          width: 100%;

          img {
            display: block;
          }
        }

        .flickity-prev-next-button {
          width: 32px;
          height: 32px;
          background-color: transparent;

          &.previous {
            left: 6px;
          }

          &.next {
            right: 6px;
          }

          .arrow {
            fill: $white;
          }
        }

        @include breakpoint(crawler) {
          .flickity-prev-next-button {
            &.previous {
              left: 12px;
            }

            &.next {
              right: 12px;
            }
          }
        }

        @include breakpoint(runner) {
          .flickity-prev-next-button {
            &.previous {
              left: -40px;
            }

            &.next {
              right: -40px;
            }

            .arrow {
              fill: $color-text;
            }
          }
        }
      }
    }

    .rooms-offers {
      box-shadow: 0 -4px 4px rgba($black, 0.2);

      .inner {
        padding-top: 48px;
        padding-bottom: 48px;
      }

      .section {
        &:not(:last-child) {
          border-bottom: 1px solid #BCBCBC;
          padding-bottom: 48px;
          margin-bottom: 48px;
        }
      }

      .section-heading {
        .title {
          font-weight: 400 !important;
        }
      }
    }

    .room-features {
      background-color: #E5E5E5;
      box-shadow: 0 0 4px 4px rgba($black, 0.2);

      .inner {
        padding-top: 48px;
        padding-bottom: 48px;
      }

      .room-features-heading {
        margin-bottom: 48px;
        text-align: center;

        .title {
          font-weight: 400;
        }
      }

      .room-features-content {
        .checkin-time {
          display: flex;
          margin-bottom: 80px;

          span {
            display: block;
            padding: 4px 0;

            &:not(:last-child) {
              padding-right: 32px;
              margin-right: 32px;
              border-right: 1px solid #BCBCBC;
            }
          }
        }

        .features-list {
          display: flex;
          flex-wrap: wrap;
          margin: -8px -16px;

          .features-item {
            width: 100%;
            padding: 8px 16px;
            display: flex;
            align-items: center;

            span {
              display: block;

              &.features-icon {
                font-size: 28px;
                line-height: 1;
              }

              &.features-label {
                padding-left: 16px;
                color: #868686;
              }
            }
          }

          @include breakpoint(creeper) {
            .features-item {
              width: 50%;
            }
          }

          @include breakpoint(crawler) {
            .features-item {
              width: 25%;
            }
          }
        }
      }
    }

    .accommodation-facilities {
      .section {
        padding-top: 48px;
        padding-bottom: 48px;

        &:not(:last-child) {
          border-bottom: 1px solid #BCBCBC;
        }

        .heading {
          text-align: center;
          margin-bottom: 48px;

          .title {
            font-weight: 400;
          }
        }
      }

      .location {

        .content {
          box-shadow: 0 0 4px 2px rgba($black, 0.2);
          border-bottom: 5px solid #7C174B;

          .location-map {
            width: 100%;

            iframe {
              width: 100% !important;
              height: 450px !important;
            }
          }

          .location-detail {
            width: 100%;
            padding: 32px;

            .heading {
              text-align: left;
              margin-bottom: 32px;
            }

            .email {
              .link {
                color: $color-text;
              }
            }

            .website {
              .link {
                font-weight: 700;
                color: $color-text;
              }
            }
          }

          @include breakpoint(walker) {
            display: flex;

            .location-map {
              width: 50%;
            }
            .location-detail {
              width: 50%;
              padding: 48px;
            }
          }
        }
      }

      .banner {
        position: relative;
        border-bottom: 5px solid #7C174B;
        overflow: hidden;

        .banner-text {
          top: 0;
          bottom: 0;
          display: flex;
          align-items: flex-end;
          width: 100%;

          &.right {
            justify-content: flex-end;
          }

          .banner-text-container {
            position: relative;
            padding: 0;
            width: 100%;

            &:before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              width: 100%;
              background-color: rgba(#63173C, 0.5);
            }

            .frame {
              background-color: rgba(#FAFAFA, 0.8);
              padding: 32px;
              position: relative;
            }

            .heading {
              margin-bottom: 32px;
              text-align: left;
            }

            .text {
              margin-bottom: 32px;

              ul {
                list-style-type: none;
                padding: 0;

                li {
                  position: relative;
                  padding-left: 24px;

                  &:not(:last-child) {
                    margin-bottom: 8px;
                  }

                  &:before {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: #7C174B;
                    position: absolute;
                    left: 0;
                    top: 8px;
                  }
                }
              }
            }
          }

          @include breakpoint(runner) {
            align-items: center;
            position: absolute;

            .banner-text-container {
              padding-left: 24px;
              padding-right: 48px;
              padding-bottom: 32px;
              max-width: 552px;

              &:before {
                top: 48px;
              }
            }
          }
        }
      }
    }

    .reviews {
      background-color: #FBF9F9;
      padding-left: 12px;
      padding-right: 12px;

      .inner {
        padding-top: 48px;
        padding-bottom: 48px;
      }

      .reviews-heading {
        margin: -12px -12px 36px;

        .heading-section {
          width: 100%;
          padding: 12px;

          &.rating {
            .rating-star {
              margin-bottom: 12px;

              .star {
                font-size: 22px;
                width: 117px;
                height: 22px;
              }

              .fill {
                font-size: 22px;
                height: 22px;
                color: #FFB41F;
              }
            }

            .rating-info {
              font-size: 14px;

              span {
                font-weight: 700;
              }
            }
          }

          &.heading {
            text-align: center;

            .title {
              font-weight: 400;
              margin-bottom: 12px;
            }
          }

          &.logo {
            text-align: center;
          }
        }

        @include breakpoint(runner) {
          display: flex;

          .heading-section {
            width: 33.333333%;

            &.logo {
              text-align: right;
            }
          }
        }
      }

      .reviews-list {

        .flickity-prev-next-button {
          background-color: #686868;
          height: 24px;
          width: 24px;

          .arrow {
            fill: $white;
          }

          &.previous {
            left: -20px;
          }

          &.next {
            right: -20px;
          }
        }

        .reviews-item {
          width: 100%;
          padding: 12px;

          &:before {
            content: '';
            position: absolute;
            display: block;
            top: 12px;
            bottom: 12px;
            left: 12px;
            right: 12px;
            background-color: $white;
            box-shadow: 0 3px 5px rgba($black, 0.2);
          }

          .reviews-item-container {
            padding: 24px;
            position: relative;
          }

          .author {
            margin-bottom: 8px;
            font-size: 18px;
            text-transform: uppercase;
          }

          .rating-star {
            margin-bottom: 8px;

            .fill {
              color: #FFB41F;
            }
          }

          .title {
            font-weight: 700;
          }

          .review-content {
            font-size: 14px;
            color: #686868;
          }
        }

        @include breakpoint(creeper) {
          .flickity-prev-next-button {
            &.previous {
              left: -24px;
            }

            &.next {
              right: -24px;
            }
          }
        }

        @include breakpoint(crawler) {
          .reviews-item {
            width: 50%;
            padding: 16px;

            &:before {
              top: 16px;
              bottom: 16px;
              left: 16px;
              right: 16px;
            }

            .reviews-item-container {
              padding: 32px;
            }
          }
        }

        @include breakpoint(runner) {
          .flickity-prev-next-button {
            &.previous {
              left: -48px;
            }

            &.next {
              right: -48px;
            }
          }

          .reviews-item {
            width: 33.333333%;
          }
        }
      }

      .view-more-review {
        padding-top: 32px;
        text-align: center;

        a {
          color: $color-text;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }

    .news {

      .inner {
        padding-top: 48px;
        padding-bottom: 64px;
      }

      .news-heading {
        text-align: center;
        margin-bottom: 48px;
        text-transform: uppercase;
      }

      .news-content {
        .news-video {
          max-width: 1024px;
          margin: 0 auto 48px;
        }

        .news-archive-link {
          text-align: center;

          .heading {
            color: #7C174B;
          }

          .link {
            color: $color-text;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
