.accomodation-sections {
  .section {
    .inner {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    .section-heading {
      .title {
        font-weight: 700 !important;
      }
    }

    &.pattern-background {
      background: url('../images/accomodation-list-bg.png') no-repeat;
      background-color: $white;
      background-size: cover;
      background-position: center;
      box-shadow: 0 0 8px rgba($black, 0.2);
    }

    .accomodation-list {
      display: flex;
      flex-wrap: wrap;
      margin: -16px;
      padding-bottom: 48px;

      .accomodation-item {
        width: calc(33.333333% - 32px);
        margin: 16px;
        background-color: $white;
        box-shadow: 0 0 8px 2px rgba($black, 0.2);
        border-bottom: 5px solid #7C174B;
        position: relative;

        .meta {
          padding: 24px 24px 80px;

          .title {
            font-weight: 700;
            margin-bottom: 12px;
          }

          .button-findout {
            background-color: #B4768E;
            color: $white;
            text-transform: uppercase;
          }
        }

        .footer {
          background-color: #FAFAFA;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 12px;
          padding-bottom: 12px;
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;

          .rating {
            padding-left: 24px;
            padding-right: 24px;

            .rating-star {
              .star {
                font-size: 22px;
                width: 117px;
                height: 22px;
              }

              .fill {
                font-size: 22px;
                height: 22px;
                color: #FFB41F;
              }
            }
          }

          .action {
            .button-book {
              text-transform: uppercase;
            }
          }

          .button-findout {
            background-color: #B4768E;
            color: $white;
            text-transform: uppercase;
          }
        }
      }
    }

    .accomodation-view-more {
      text-align: center;

      a {
        font-weight: 700;
        color: $color-text;
        font-size: 18px;
        text-transform: uppercase;
      }
    }
  }
}

.destination-slider {
  position: relative;

  &:before {
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: $white;
    box-shadow: inset 0 5px 5px rgba($black, 0.2);
    height: 240px;
  }

  .destination-slider-container {
    background-color: #F9FAF9;
    box-shadow: 0 0 5px 2px rgba($black, 0.2);
    border-bottom: 8px solid #7C174B;
    position: relative;

    .slides {

      .flickity-prev-next-button {
        top: 77%;

        &.previous {
          left: 12px;
        }

        &.next {
          right: 12px;
        }
      }

      .slide {
        width: 100%;

        .slide-image {

        }

        .slide-text {
          padding: 48px 64px;
          text-align: center;

          .heading {
            font-weight: 400;
            margin-bottom: 32px;
          }

          .text {
            color: #868686;
          }
        }
      }

      .flickity-page-dots {
        bottom: 0;
        position: relative;
        padding-top: 48px;
        padding-bottom: 54px;

        .dot {
          width: 18px;
          height: 18px;
          border: 2px solid $black;
          margin: 0 6px;

          &.is-selected {
            background-color: $black;
          }
        }
      }
    }
  }
}

.destination-hotel-selection {
  padding-top: 48px;

  .accomodation-list {
    padding-bottom: 0 !important;
  }
}

.accomodation-sections {
  .section.destination-hotel-selection {
    background-color: $white;

    .section-heading {
      .title {
        font-weight: 400 !important;
      }
    }
  }
}

.accomodation-detail-container {
  .accomodation-detail-desc {
    text-align: center;
    margin-bottom: 48px;

    .inner {
      max-width: 900px;
    }

    .heading {
      margin-bottom: 32px;
    }

    .text-post {
      color: #868686;
    }
  }

  .search-filter {

    .search-filter-container {
      position: relative;
    }
  }

  .accomodation-detail-content {
    background-color: $white;
    box-shadow: inset 0 4px 4px rgba($black, 0.2);
    margin-top: -48px;

    .accomodation-detail-slider {

      .inner {
        padding-top: 96px;
        padding-bottom: 48px;
      }

      .slides {
        border-bottom: 5px solid #7C174B;

        .slide {
          width: 100%;

          img {
            display: block;
          }
        }

        .flickity-prev-next-button {
          &.previous {
            left: -40px;
          }

          &.next {
            right: -40px;
          }
        }
      }
    }

    .accomodation-rooms {
      box-shadow: 0 -4px 4px rgba($black, 0.2);

      .section {
        &:not(:last-child) {
          border-bottom: 1px solid #BCBCBC;
        }
      }

      .section-heading {
        .title {
          font-weight: 400 !important;
        }
      }
    }
  }
}
