.career-container {
	.career-form {
		margin-bottom: 48px;
		padding-bottom: 48px;
		border-bottom: 1px solid #1A1919;

		.career-form-section {
			width: 100%;

			.heading {
				text-transform: uppercase;
				font-weight: 400;
			}

			&.job-description {
				margin-bottom: 48px;

				ol, ul {
					padding-left: 18px;

					li {
						&:not(:last-child) {
							margin-bottom: 24px;
						}
					}
				}
			}

			&.apply-form {
				.form {
					.form-submit {
						text-align: right;

						.button {
							text-transform: uppercase;
							color: $white;
							background-color: #7C174B;
							width: 100%;
							max-width: 180px;
						}
					}
				}
			}
		}

		@include breakpoint(runner) {
			display: flex;

			.career-form-section {
				width: 50%;

				&.job-description {
					padding-right: 48px;
					margin-bottom: 0;
				}
			}
		}
	}

	.career-requirement {
		.wysiwyg-post {
			ol, ul {
				padding-left: 18px;
			}
		}
	}
}
