.company-profile-container {
	.company-profile-about {
		.inner {
			padding-top: 16px;
			padding-bottom: 64px;
		}

		.heading {
			margin-bottom: 48px;
			text-align: center;
			font-weight: 400;
		}
	}

	.company-profile-overview {
		background-color: $white;

		.inner {
			padding-top: 48px;
			padding-bottom: 48px;
		}

		.heading {
			font-weight: 400;
			margin-bottom: 48px;
			text-align: center;
		}

		.company-profile-slider {
			.slider-nav {
				border-bottom: 1px solid #1A1919;
				margin-bottom: 48px;

				.wrapper {
					display: flex;
					justify-content: space-between;

					.slider-nav-item {
						padding-bottom: 32px;
						position: relative;
						text-align: center;
						transition: all 0.2s ease-in-out;
						font-weight: 700;
						color: $color-text-light;

						&:after {
							content: '';
							position: absolute;
							display: inline-block;
							bottom: -12px;
							left: 50%;
							margin-left: -14px;
							width: 24px;
							height: 24px;
							border: 1px solid #7C174B;
							border-radius: 50%;
							background-color: $white;
							box-shadow: inset 0 3px 2px rgba($black, 0.2);
							visibility: hidden;
						}

						&.is-current {
							color: #7C174B;

							&:after {
								visibility: visible;
							}
						}
					}
				}
			}

			.slides {
				box-shadow: 0 0 5px 2px rgba($black, 0.2);

				.flickity-prev-next-button {
					background-color: transparent;

					&.previous {
						left: 12px;
					}

					&.next {
						right: 12px;
					}
				}

				.slide {
					display: flex;
					width: 100%;
					padding: 0 64px 0 48px;

					.slide-text {
						width: 50%;
						padding: 32px 48px;
						display: flex;
						align-items: center;

						.slite-text-container {
							.title {
								font-weight: 400;
								text-transform: uppercase;
							}

							.text {
								margin-bottom: 48px;
							}
						}
					}

					.slide-image {
						width: 50%;
					}
				}
			}
		}
	}

	.company-directors {
		.company-directors-list {
			.company-directors-item {
				background-color: $white;
				box-shadow: 0 0 5px 2px rgba($black, 0.2);
				display: flex;

				&.right {
					flex-direction: row-reverse;
				}

				&:not(:last-child) {
					margin-bottom: 32px;
				}

				.director-slider {
					width: 50%;
					padding: 24px 0;

					.slides {

						.flickity-prev-next-button {
							background-color: transparent;

							.arrow {
								fill: $white;
							}

							&.previous {
								left: 0;
							}

							&.next {
								right: 0;
							}
						}

						.slide {
							width: 50%;

							.slide-text {
								position: absolute;
								bottom: 0;
								left: 0;
								right: 0;
								padding: 24px;
								background: linear-gradient(to top, black, transparent);
								color: $white;
								font-size: 14px;

								.name {
									margin-bottom: 4px;
								}
							}
						}
					}
				}

				.director-text {
					width: 50%;
					padding: 48px;

					.heading {
						text-transform: uppercase;
						font-weight: 400;
					}

					.desc {
						font-weight: 14px;
					}
				}
			}
		}
	}
}
