.company-profile-container {
	.company-profile-about {
		.inner {
			padding-top: 16px;
		}

		.heading {
			margin-bottom: 48px;
			text-align: center;
			font-weight: 400;
		}

		@include breakpoint(walker) {
			.inner {
				padding-bottom: 64px;
			}
		}
	}

	.company-profile-overview {
		background-color: $white;

		.inner {
			padding-top: 48px;
			padding-bottom: 48px;
		}

		.heading {
			font-weight: 400;
			margin-bottom: 48px;
			text-align: center;
		}

		.company-profile-slider {
			.slider-nav {
				border-bottom: 1px solid #1A1919;
				margin-bottom: 48px;

				.wrapper {
					display: flex;
					align-items: center;
					justify-content: space-between;

					.slider-nav-item {
						padding: 0 12px 32px;
						position: relative;
						text-align: center;
						transition: all 0.2s ease-in-out;
						font-weight: 700;
						color: $color-text-light;
						font-size: 12px;

						&:after {
							content: '';
							position: absolute;
							display: inline-block;
							bottom: -12px;
							left: 50%;
							margin-left: -14px;
							width: 24px;
							height: 24px;
							border: 1px solid #7C174B;
							border-radius: 50%;
							background-color: $white;
							box-shadow: inset 0 3px 2px rgba($black, 0.2);
						}

						&.is-current {
							color: #7C174B;

							&:after {
								background-color: #7C174B;
							}
						}

						@include breakpoint(crawler) {
							font-size: 14px;
						}

						@include breakpoint(walker) {
							font-size: 16px;
						}
					}
				}
			}

			.slides {
				box-shadow: 0 0 5px 2px rgba($black, 0.2);

				.flickity-prev-next-button {
					background-color: transparent;
					top: 25%;
					height: 24px;
					width: 24px;

					&.previous {
						left: 4px;
					}

					&.next {
						right: 4px;
					}
				}

				@include breakpoint(creeper) {
					.flickity-prev-next-button {
						top: 35%;
					}
				}

				@include breakpoint(walker) {
					.flickity-prev-next-button {
						top: 50%;

						&.previous {
							left: 12px;
						}

						&.next {
							right: 12px;
						}
					}
				}

				@include breakpoint(runner) {
					.flickity-prev-next-button {
						height: 40px;
						width: 40px;
					}
				}

				.slide {
					display: flex;
					flex-direction: column-reverse;
					flex-wrap: wrap;
					width: 100%;
					padding: 0 32px;

					.slide-text {
						width: 100%;
						padding: 32px 0;
						display: flex;
						align-items: center;

						.slite-text-container {
							.title {
								font-weight: 400;
								text-transform: uppercase;
							}

							.text {
								margin-bottom: 48px;
							}
						}
					}

					.slide-image {
						width: 100%;
						text-align: center;
					}

					@include breakpoint(walker) {
						padding: 0 64px 0 48px;
						flex-direction: row;

						.slide-text {
							width: 50%;
							padding: 32px 48px;
						}

						.slide-image {
							width: 50%;
							text-align: right;
						}
					}
				}
			}
		}
	}

	.company-directors {
		.company-directors-list {
			.company-directors-item {
				background-color: $white;
				box-shadow: 0 0 5px 2px rgba($black, 0.2);
				display: flex;
				flex-wrap: wrap;

				&.right {
					flex-direction: row-reverse;
				}

				&:not(:last-child) {
					margin-bottom: 32px;
				}

				.director-slider {
					width: 100%;

					.slides {

						.flickity-prev-next-button {
							background-color: transparent;
							width: 24px;
							height: 24px;

							.arrow {
								fill: $white;
							}

							&.previous {
								left: 0;
							}

							&.next {
								right: 0;
							}
						}

						@include breakpoint(creeper) {
							.flickity-prev-next-button {
								width: 40px;
								height: 40px;
							}
						}

						.slide {
							width: 100%;

							.slide-text {
								position: absolute;
								bottom: 0;
								left: 0;
								right: 0;
								padding: 24px;
								background: linear-gradient(to top, black, transparent);
								color: $white;
								font-size: 14px;

								.name {
									margin-bottom: 4px;
								}
							}

							@include breakpoint(creeper) {
								width: 50%;
							}
						}
					}
				}

				.director-text {
					width: 100%;
					padding: 24px;

					.heading {
						text-transform: uppercase;
						font-weight: 400;
					}

					.desc {
						font-weight: 14px;
					}
				}

				@include breakpoint(crawler) {
					.director-text {
						padding: 32px;
					}
				}

				@include breakpoint(walker) {
					.director-text {
						padding: 48px;
					}
				}

				@include breakpoint(runner) {
					.director-slider {
						width: 50%;
						padding: 24px 0;
					}

					.director-text {
						width: 50%;
					}
				}
			}
		}
	}
}
