.corporate-container {
	.corporate-desc {
		padding-top: 16px;
		padding-bottom: 64px;
		font-size: 18px;

		.wrapper {
			@include wrapper-x;
			@include wrapper-x-300;
		}
	}

	.corporate-list {
		.corporate-item {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 32px;
			min-height: 320px;
			position: relative;
			background-position: center !important;
			background-size: cover !important;
			margin-bottom: 16px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba($black, 0.4);
			}

			.corporate-item-text {
				text-align: center;
				color: $white;
				position: relative;

				.title {
					margin-bottom: 8px;
				}

				.subtitle {
					margin-bottom: 32px;
				}

				.button {
					color: $white;
					background-color: rgba($color-800, 0.8);
					max-width: 240px;
					padding-bottom: 9px;
					padding-top: 9px;
					transition: all 0.3s ease-in-out;
					width: 100%;

					&:hover {
						background-color: rgba($color-800, 1);
					}
				}
			}
		}
	}
}
