.form-group {
	margin: -8px -8px 8px;
	position: relative;

	@include breakpoint(crawler) {
		display: flex;
		flex-wrap: wrap;
	}

	&:last-child {
		margin-bottom: -12px -8px;
	}

	@at-root {
		.form-group-item {
			margin-bottom: 0;
			padding: 12px 8px;

			&.form-text {
				margin-bottom: 0 !important;
			}

			@include breakpoint(crawler) {
				flex: 0 1 50%;
			}
		}
	}
}

.form-file {

	&:not(:last-child) {
		margin-bottom: 24px;
	}

	.label {
		margin-bottom: 8px;
		display: inline-block;
	}

	.input {
		border: 1px solid rgba($black, 0.2);
		padding: 8px 12px;
		width: 100%;
	}

	.js & {

		.form-file-input {

			.input {
				@include hidden;
			}
		}
	}

	.no-js & {

		.form-file-input {

			.input,
			.remove {
				display: none;
			}
		}
	}

	@at-root {
		.form-file-label {
			display: inline-block;
			font-weight: 700;
			margin-bottom: 2px;
		}

		.form-file-input {

			.label {
				cursor: pointer;
				display: inline-block;
				max-width: 100%;
				overflow: hidden;
				position: relative;
				text-overflow: ellipsis;
				vertical-align: middle;
				white-space: nowrap;

				&.has-placeholder {
					padding-right: 12px;

					.placeholder {
						color: $color-text;
					}

					.remove {
						display: block;
					}
				}

				&:hover {

					.button {}
				}

				> * {
					// pointer-events: none;
				}
			}

			.button {
				cursor: pointer;
				margin-right: 4px;
			}

			.placeholder {
				@include font-size-400;
				color: $color-text-light;
				cursor: pointer;
				display: inline-block;
				vertical-align: middle;
			}

			.remove {
				color: $color-text-light;
				display: none;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				transition: all 0.2s ease-out;
				vertical-align: middle;

				&:hover,
				&:focus {
					color: $color-alert-dark;
					text-decoration: none;
				}
			}
		}
	}
}

.form-phone {

	&:not(:last-child) {
		margin-bottom: 24px;
	}

	.label {
		display: inline-block;
	}

	.inputs {
		display: flex;
		margin-top: 2px;
		width: 100%;
	}

	.input {

		&.input-code {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
			color: $color-text;
			flex: 0 1 auto;
			width: 64px;
		}

		&.input-phone {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			flex: 1 1 auto;
		}
	}
}

.form-select {

	&:not(:last-child) {
		margin-bottom: 24px;
	}

	.label {
		display: inline-block;
		margin-bottom: 2px;
	}

	.input {
		width: 100%;
	}
}

.form-text {
	position: relative;

	&:not(:last-child) {
		margin-bottom: 24px;
	}

	.label {
		display: inline-block;
		margin-bottom: 8px;
	}

	.input {
		width: 100%;

		&.input-textarea {
			height: 120px;
			resize: none;
		}
	}

	.caption {
		@include font-size-400;
		color: $color-text-light;
		margin: 4px 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.form-submit {

	&.form-submit-right {
		text-align: right;
	}

	&:not(:last-child) {
		margin-bottom: 24px;
	}
}

.form-input {

	&:not(:last-child) {
		margin-bottom: 24px;
	}

	@at-root {
		.form-input-heading {
			display: block;
			margin-bottom: 6px;

			.small {
				@include font-size-300;
				color: $color-text-light;
				display: block;
			}
		}

		.form-input-fields {
			display: flex;
		}

		.form-input-field {
			display: flex;
			flex: 1 1 0;
			position: relative;

			+ .form-input-field {
				margin-left: 16px;
			}

			&.is-required {

				&:after {
					content: "*";
					color: $color-alert-dark;
					font-family: $monospace;
					font-size: 14px;
					line-height: 16px;
					margin-top: -9px;
					position: absolute;
					right: 13px;
					top: 50%;
					z-index: 2;
				}
			}

			&.is-filled {

				.placeholder {
					color: $color-text;
					font-weight: 700;
					transform: scale(0.7) translateY(-10px);
				}
			}

			&.is-invalid {

				.placeholder {
					color: $color-alert-dark;
				}

				.input {
					border-color: $color-alert-dark;
				}
			}

			&.is-loaded {

				.placeholder {
					transition: all 0.2s ease;
					opacity: 1;
				}
			}

			.placeholder {
				color: $color-text-light;
				display: block;
				left: 9px;
				margin: 0;
				opacity: 0;
				pointer-events: none;
				position: absolute;
				top: 14px;
				transform-origin: left top;
				z-index: 2;

				+ .input {
					padding: 21px 24px 5px 8px;
				}
			}

			.input {
				flex: 1 1 auto;
				width: 100%;

				&.input-small {
					flex-grow: 0;
					width: 5em;
				}

				&:not(:only-child):not(:first-child) {
					border-left: 0;
				}
			}
		}

		.form-input-select {

			&.is-required {

				&:after {
					right: 32px;
				}
			}

			&.is-loaded {

				.placeholder {
					font-weight: 700;
					transform: scale(0.7) translateY(-10px);
				}
			}
		}

		.form-input-caption {
			@include font-size-200;
			color: $color-text-light;
			margin-top: 6px;

			p {
				margin: 0;

				&:not(:last-child) {
					margin-bottom: 4px;
				}
			}

			ol,
			ul {
				padding-left: 16px;
			}
		}
	}
}

.form-checkbox {
	align-items: baseline;
	display: flex;

	&:not(:last-child) {
		margin-bottom: 24px;
	}

	.input {
		flex: 0 0 auto;
		margin-right: 8px;
	}

	.label {
		flex: 1 1 auto;
	}
}
