.home-page-hero {
  min-height: 480px;
  background-size: cover !important;
  background-position: center !important;
  position: relative;

  @include breakpoint(walker) {
    min-height: 512px;
  }

  @include breakpoint(runner) {
    min-height: 576px;
  }

  & + .search-filter {
    position: absolute;
    margin-top: -48px;
  }

  .hero-text {
    width: 100%;
    height: 100%;
    padding-top: 124px;
    margin: 0 auto;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;

    .hero-text-container {
      background-color: rgba(#331321, 0.4);
      color: $white;
      margin-left: 16px;
      max-width: 640px;
      padding: 40px 24px;
      position: relative;

      @include breakpoint(creeper) {
        margin-left: 24px;
        padding: 48px 32px;
      }

      @include breakpoint(crawler) {
        margin-left: 32px;
      }

      @include breakpoint(runner) {
        margin-left: 48px;
      }

      &:before {
        content: "";
        background-color: rgba(#63173C, 0.4);
        bottom: 0;
        left: 0;
        margin-top: -32px;
        margin-bottom: -32px;
        margin-left: -48px;
        max-width: 480px;
        position: absolute;
        width: 100%;
        top: 0;
      }

      .title {
        @include font-size-h3;
        font-weight: 400;
        letter-spacing: 0.1em;
        position: relative;
        text-transform: uppercase;

        @include breakpoint(creeper) {
          @include font-size-h2;
        }

        @include breakpoint(crawler) {
          @include font-size-h1;
        }
      }

      .subtitle {
        @include font-size-500;
        border-top: 1px solid $white;
        letter-spacing: 0.1em;
        margin-top: 24px;
        max-width: 400px;
        padding-top: 24px;
        position: relative;
        text-align: left;

        @include breakpoint(creeper) {
          margin-top: 32px;
          padding-top: 32px;
        }
      }

      @include breakpoint(crawler) {
        margin-left: 48px;
      }
    }
  }
}

.featured-promo {
  margin-bottom: 64px;

  .featured-promo-list {
    display: flex;
    flex-wrap: wrap;
    margin: -2px;

    .featured-promo-item {
      flex: 1 1 auto;
      width: calc(50% - 4px);
      margin: 2px;
      text-align: center;
      box-shadow: 0 0 5px rgba($black, 0.2);
      transform: scale(1);
      position: relative;
      background-color: $color-700;
      transition: all 0.2s ease-out;
      display: flex;
      flex-direction: column;

      @include breakpoint(walker) {
        width: calc(25% - 4px);
      }

      &:hover {
        transform: scale(1.1);
        z-index: 1;
      }

      .image {
        img {
          width: 100%;
          display: block;
        }
      }

      .title {
        padding: 16px;
        color: $white;
        font-weight: 700;

        @include breakpoint(creeper) {
          padding: 24px;
        }

        @include breakpoint(crawler) {
          padding: 32px 24px;
        }
      }

      .learn-more {
        @include font-size-300;
        background-color: $color-800;
        color: $color-500;
        display: block;
        margin-top: auto;
        padding: 12px;
        text-transform: uppercase;
        transition: all 0.2s ease-out;

        @include breakpoint(creeper) {
          padding: 12px 24px;
        }

        &:hover,
        &:focus {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

.membership-promo {
  min-height: 400px;
  display: flex;
  align-items: center;
  background-position: center !important;
  background-size: cover !important;
  margin-bottom: 16px;

  .inner {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .membership-promo-text {
    width: 100%;
    max-width: 578px;
    background-color: rgba(#4B162E, 0.8);
    padding: 48px;
    text-align: center;
    color: $white;

    .text-container {
      max-width: 320px;
      margin: 0 auto;

      .title {
        margin-bottom: 18px;
      }

      .desc {
        margin-bottom: 18px;
      }

      .button-join {
        margin-bottom: 18px;
        text-transform: uppercase;
      }

      .login-link {
        a {
          font-weight: 700;
          text-decoration: underline;
          color: $white;
        }
      }
    }
  }
}

.featured-hotel-slider {
  max-width: 1425px;
  margin: 0 auto  16px;

  .slides {

    .flickity-prev-next-button {
      background-color: transparent;

      .arrow {
        fill: $white;
      }

      &.previous {
        left: 24px;
      }

      &.next {
        right: 24px;
      }

    }

    .slide {
      width: 100%;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($black, 0.4);
      }

      .slide-text {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        .slide-text-container {
          text-align: center;
          color: $white;
          padding: 16px;

          .title {
            font-size: 24px;
            max-width: 400px;
            margin: 0 auto;
            margin-bottom: 8px;

            @include breakpoint(crawler) {
              font-size: 48px;
            }
          }

          .subtitle {
            font-size: 16px;
            max-width: 480px;
            margin: 0 auto;
            margin-bottom: 8px;

            @include breakpoint(creeper) {
              margin-bottom: 16px;
            }

            @include breakpoint(crawler) {
              font-size: 24px;
              margin-bottom: 24px;
            }
          }

          .button {
            @include font-size-300;
            text-transform: uppercase;
            color: $white;
            background-color: $black;
            padding: 9px 32px;

            @include breakpoint(creeper) {
              @include font-size-500;
              padding: 11px 32px;
            }
          }
        }
      }
    }
  }
}

.home-additional {
  max-width: 1425px;
  margin: 0 auto 2px;

  .inner {
    display: flex;
    margin: -1px;
  }

  .wrapper {
    padding: 0;
    max-width: 1425px;
  }

  .home-additional-section {
    width: calc(50% - 2px);
    margin: 1px;

    &.instagram {
      position: relative;
      overflow: hidden;
      min-height: 540px;

      .instagram-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .instagram-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .view-more {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: block;
        text-align: center;
        padding: 16px 24px;
        color: $white;
        background-color: rgba(#7C174B, 0.4);
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: rgba(#7C174B, 0.8);
        }
      }
    }

    &.post {
      .post-list {
        .post-item {
          position: relative;
          overflow: hidden;
          min-height: 270px;

          &:not(:last-child) {
            margin-bottom: 2px;
          }

          .post-bg {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 2s ease-in-out;
            transform: scale(1);
          }

          &:hover {
            .post-bg {
              transform: scale(1.2);
            }
          }

          .text {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            .text-container {
              text-align: center;
              color: $white;

              .title {
                margin-bottom: 16px;
              }

              .button {
                font-size: 14px;
                color: $white;
                text-transform: uppercase;
                padding: 10px 32px;
                background-color: rgba($black, 0.8);
                transition: all 0.3s ease-in-out;

                &:hover {
                  background-color: rgba($black, 1);
                }
              }
            }
          }
        }
      }
    }
  }
}
