.instagram-feed-container	{
	.heading {
		.title {
			color: #7C174B;
			display: flex;
			align-items: center;
			font-size: 24px;

			img {
				margin-right: 24px;
			}
		}

		margin-bottom: 48px;

		@include breakpoint(crawler) {
			.title {
				font-size: 32px;
			}

			margin-bottom: 64px;
		}
	}

	.content {
		.instagram-feed-list {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin: -8px;

			.instagram-feed-item {
				width: 50%;
				padding: 8px;

				.link {
					display: block;
					background-position: center !important;
					background-size: cover !important;
				}

				img {
					visibility: hidden;
					opacity: 0;
				}
			}

			@include breakpoint(crawler) {
				margin: -12px;

				.instagram-feed-item {
					width: 33.333333%;
					padding: 12px;
				}
			}
		}

		.instagram-link {
			padding-top: 32px;
			margin-top: 48px;
			border-top: 1px solid #414141;
			text-transform: uppercase;
			text-align: center;

			.link {
				color: #7C174B;
				font-weight: 700;
			}
		}
	}
}
