.instagram-feed-container	{
	.heading {
		margin-bottom: 48px;
		margin-top: 16px;

		@include breakpoint(crawler) {
			margin-bottom: 64px;
		}

		.title {
			@include font-size-h2;
			align-items: center;
			color: $color-text-dark;
			display: flex;
			justify-content: center;

			@include breakpoint(crawler) {
				@include font-size-h1;
			}

			img {
				height: 40px;
				margin-right: 16px;
			}
		}
	}

	.content {
		.instagram-feed-list {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin: -8px;

			.instagram-feed-item {
				width: 50%;
				padding: 8px;
				position: relative;

				.placeholder {
					visibility: hidden;
					opacity: 0;
				}

				.link {
					display: flex;
					position: absolute;
					align-items: center;
					top: 8px;
					bottom: 8px;
					left: 8px;
					right: 8px;
					background-color: #EAEAEA;
					overflow: hidden;
				}

				img {
					//visibility: hidden;
					//opacity: 0;
					width: 100%;
					height: auto;
					display: block;
				}
			}

			@include breakpoint(crawler) {

				.instagram-feed-item {
					width: 33.333333%;
				}
			}
		}

		.instagram-link {
			padding-top: 24px;
			margin-top: 32px;
			border-top: 1px solid $color-border-dark;
			text-transform: uppercase;
			text-align: center;

			.link {
				color: $color-two-500;
				font-weight: 700;
			}
		}
	}
}
