.loyalty-covert-container {
	background: url('../images/loyalty-convert-bg.png') no-repeat;
	background-position: top;
	background-size: 100%;
	margin-top: 32px;

	.inner {
		padding-top: 48px;
		padding-bottom: 48px;
	}

	.loyalty-convert-frame {
		max-width: 768px;
		margin: 0 auto;
		text-align: center;

		.frame-content {
			padding: 24px;
			box-shadow: 0 2px 5px rgba($black, 0.2);
			border-bottom: 5px solid #BC9764;

			.title {
				color: #005473;
				font-size: 20px;
			}

			form {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-end;
				margin: -6px;
				margin-bottom: 24px;

				.form-text {
					width: calc(100% - 12px);
					margin: 6px;
					text-align: left;

					@include breakpoint(crawler) {
						width: calc(33.333333% - 12px);
					}

					.label {
						font-weight: 700;
						font-size: 14px;
					}

					.input {
						width: 100%;
					}
				}

				.form-submit {
					width: calc(100% - 12px);
					margin: 6px;
					text-align: left;

					@include breakpoint(crawler) {
						width: calc(33.333333% - 12px);
					}

					.button {
						width: 100%;
						background-color: #BC9764;
						padding: 8px 24px;
					}
				}
			}

			.disclaimer {
				font-size: 12px;
				max-width: 320px;
				margin:  0 auto;
			}
		}
	}

	@include breakpoint(creeper) {
		margin-top: 32px;

		.inner {
			padding-top: 64px;
			padding-bottom: 64px;
		}
	}

	@include breakpoint(crawler) {
		margin-top: 48px;

		.inner {
			padding-top: 80px;
			padding-bottom: 80px;
		}

		.loyalty-convert-frame {
			.frame-content {
				padding: 32px;

				.title {
					font-size: 24px;
				}
			}
		}
	}
}
