.missing-container {

	.inner {
		padding-top: 48px;
		padding-bottom: 48px;
	}

	.missing-content {
		max-width: 480px;
		margin: 0 auto;
		text-align: center;

		img {
			display: block;
			margin-bottom: 48px;
		}

		.title {
			@include font-size-900;
			border-top: 4px solid $color-two-500;
			color: $color-text-dark;
			font-weight: 700;
			letter-spacing: -0.02em;
			padding-top: 32px;
			margin-bottom: 12px;
		}
	}
}
