.reservation-container {
	.reservation-heading {
		text-align: center;
		margin-bottom: 48px;

		.title {
			font-weight: 400;
			text-transform: uppercase;
		}
	}

	.reservation-content {
		.reservation-content-heading {
			padding: 24px 0;
			background-color: #BCBCBC;
			margin-bottom: 48px;

			.title {
				text-transform: uppercase;
			}
		}

		.reservation-search {
			background-color: #414141;
			padding: 24px;
			color: $white;
			border-bottom: 5px solid #BC9764;

			@include breakpoint(crawler) {
				padding: 32px;
			}

			.heading {
				color: $white;
				font-weight: 400;
				text-align: center;
			}

			.form {
				.form-hint {
					display: block;
					padding-top: 8px;
					font-size: 14px;
				}

				.field {
					width: 100%;

					.label {
						display: block;
						margin-bottom: 8px;
						font-weight: 700;
						font-size: 14px;
					}

					.input {
						width: 100%;
					}
				}

				.fields {
					display: flex;
					flex-wrap: wrap;
					align-items: flex-end;
					margin: -8px;

					.field {
						padding: 8px;
					}

					@include breakpoint(walker) {
						.field {
							width: 33.333333%;
						}
					}
				}

				.action {
					padding-top: 32px;
					align-items: flex-end;
					justify-content: space-between;

					.notes {
						font-size: 14px;
						padding-right: 48px;
						margin-bottom: 24px;
					}

					.submit {
						width: 100%;
						max-width: 280px;

						.button {
							width: 100%;
							padding: 12px 32px;
							background-color: #BC9764;
							text-transform: uppercase;
						}
					}

					@include breakpoint(crawler) {
						display: flex;

						.notes {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.reservation-notes {
			padding-top: 32px;
			font-size: 14px;
		}

		.reservation-history {
			.list {
				.item {
					&:not(:last-child) {
						margin-bottom: 48px;
						padding-bottom: 48px;
						border-bottom: 1px solid #868686;
					}

					.booking-detail {

						.heading {
							margin-bottom: 32px;

							.title {
								margin-bottom: 4px;
							}

							.booking-date {
								color: $color-text-light;
								font-weight: 700;
							}
						}

						.detail-head {
							justify-content: space-between;
							align-items: flex-end;
							margin-bottom: 18px;

							.booking-number {
								.highlight {
									color: #005473;
									font-weight: 700;
								}
							}

							.checkin-date {
								display: flex;
								align-items: center;
								margin-bottom: 12px;

								.icon {
									display: inline-block;
									margin: 0 32px;
								}

								.checkin, .checkout {
									.label {
										display: block;
										color: $color-text-light;
									}

									.value {
										font-weight: 700;
									}
								}
							}

							@include breakpoint(walker) {
								display: flex;

								.checkin-date {
									margin-bottom: 0;
								}
							}
						}

						.detail-content {
							box-shadow: 0 0 5px 2px rgba($black, 0.2);
							border-left: 5px solid #BC9764;
							background-color: $white;
							display: flex;

							.number {
								padding: 12px;
								font-size: 16px;
								font-weight: 700;
								align-items: center;
								display: none;
							}

							.image {
								max-width: 420px;
								display: none;
							}

							.meta {
								width: 100%;
								padding: 24px;

								.meta-section {
									&:not(:last-child) {
										padding-bottom: 20px;
										margin-bottom: 20px;
										border-bottom: 1px solid #BCBCBC;
									}

									&.room-detail {
										.hotel-name {
											margin-bottom: 8px;
										}

										.room-name {
											color: $color-text-light;
										}

										.occupancy-list {
											list-style-type: none;
											flex-wrap: wrap;
											width: 100%;
											padding: 0;

											.occupancy-item {
												width: 100%;
												position: relative;
												padding-left: 24px;
												padding-right: 12px;
												margin-bottom: 8px;
												font-size: 14px;

												&:before {
													content: '';
													position: absolute;
													display: inline-block;
													width: 8px;
													height: 8px;
													border-radius: 50%;
													background-color: #BC9764;
													left: 0;
													top: 8px;
												}
											}

											@include breakpoint(crawler) {
												display: flex;

												.occupancy-item {
													width: 50%;
												}
											}
										}
									}

									&.booking-total {
										display: flex;
										align-items: center;
										justify-content: space-between;

										.label {
											display: inline-block;
											font-weight: 700;
											padding-right: 32px;
										}

										.value {
											font-weight: 700;
											color: #005473;
										}
									}
								}

								@include breakpoint(runner) {
									padding: 32px 32px 32px 48px;
								}
							}

							@include breakpoint(crawler) {
								.number {
									display: flex;
								}
							}

							@include breakpoint(walker) {
								.image {
									display: block;
								}

								.number {
									font-size: 20px;
								}
							}
						}

						.send-receipt {
							text-align: right;
							padding-top: 18px;

							.link {
								font-weight: 700;
								color: $color-text;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
