.myaccount-page {
	background: url('../images/batik-bg.png') no-repeat;
	background-position: 0 800px;
	background-size: 100%;
	padding-bottom: 48px;

	.myaccount-page-hero {
		min-height: 800px;
		background-repeat: no-repeat !important;
		background-position: top center !important;
		background-size: cover !important;
	}

	.myaccount-page-content {
		position: relative;

		.myaccount-page-container {
			margin-top: -600px;

			.myaccount-user-preview {
				text-align: center;
				color: $white;
				margin-bottom: 48px;

				.avatar {
					display: block;
					width: 80px;
					height: 80px;
					border: 2px solid $white;
					border-radius: 50%;
					overflow: hidden;
					margin: 0 auto 24px;
					padding: 5px;

					.avatar-image {
						display: block;
						width: 66px;
						height: 66px;
						border-radius: 50%;
						background-color: $white;
						background-position: center !important;
						background-size: cover !important;
					}
				}

				.name {
					margin-bottom: 24px;
				}

				.membership-status {
					display: inline-block;
					padding: 6px 28px;
					color: $white;
					background-color: #1760B2;
				}
			}

			.myaccount-page-frame {
				box-shadow: 0 0 5px 2px rgba($black, 0.2);
				background-color: $white;
				position: relative;
			}

			.myaccount-nav {
				.tabs {
					list-style-type: none;
					padding: 0;
					display: flex;

					.tab {
						width: 25%;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						padding: 12px 24px;
						font-size: 12px;
						color: $white;
						background-color: #202020;
						text-decoration: none;
						transition: all 0.2s ease-in-out;

						&:hover {
							background-color: #101010;
						}

						& + .tab {
							border-left: 1px solid $white;
						}

						&.is-current {
							background-color: $white;
							color: $color-text;
							font-weight: 700;
						}
					}
				}
			}

			.myaccount-content {
				padding-top: 48px;
				padding-bottom: 16px;
				min-height: 380px;

				.section {
					&:not(:last-child) {
						margin-bottom: 24px;
					}

					.section-heading {
						padding: 12px 48px;
						background-color: #FAFAFA;

						.title {
							text-transform: uppercase;
						}
					}

					.section-content {
						padding: 32px 48px;
					}

					&.search-filter {
						width: 100%;

						.search-filter-container {
							.filter-content {
								border: 1px solid #005473;
								padding: 24px;

								.form {
									display: flex;
									justify-content: space-between;
									align-items: flex-end;

									.filter-fields {
										width: 100%;
										display: flex;
										flex-wrap: wrap;
										margin: -8px;

										.filter-field {
											padding: 8px;
											width: 25%;

											.input {
												width: 100%;
												padding: 6px 8px;
											}

											select.input {
												padding: 5px 24px 5px 8px;

												option {
													margin: 0;
													padding: 0;
												}
											}
										}
									}

									.filter-action {
										padding-left: 16px;

										.button {
											background-color: #BC9764;
										}
									}
								}
							}
						}
					}

					&.membership {
						.loyaty-status-preview {
							.heading {
								margin-bottom: 12px;
							}

							.content {
								display: flex;
								margin: -16px;

								.loyalty-card {
									width: calc(50% - 32px);
									margin: 16px;
									padding: 24px;
									border: 1px solid #7C174B;

									.loyalty-card-status {
										display: flex;
										align-items: center;
										justify-content: space-between;
										margin-bottom: 24px;

										.label {
											font-size: 14px;
											font-weight: 700;
											text-transform: uppercase;
										}

										.status {
											color: $white;
											display: inline-block;
											padding: 8px 28px;
											background-color: #1760B2;
											font-size: 14px;
										}
									}

									.loyalty-card-image {
										text-align: center;

										img {
											max-width: 289px;
										}
									}

									.loyalty-card-detail {
										text-align: center;
										padding-top: 12px;

										.link {
											color: $color-text;
											font-weight: 700;
											text-transform: uppercase;
											text-decoration: underline;
											font-size: 14px;
										}
									}
								}

								.loyalty-point {
									width: calc(50% - 32px);
									margin: 16px;
									background-color: #005473;
									padding: 32px;
									text-align: center;
									display: flex;
									align-items: center;
									justify-content: center;
									color: $white;

									.loyalty-point-container {
										.point {
											font-size: 24px;
											font-weight: 700;
											margin-bottom: 12px;

											.point-count {
												font-size: 76px;
												display: block;
												line-height: 1;
												margin-bottom: 6px;
											}
										}

										.text {
											margin-bottom: 32px;
										}

										.button {
											width: 100%;
											max-width: 280px;
											background-color: #BC9764;
											padding: 12px 24px;
										}
									}
								}
							}
						}

						.loyaty-status-card {
							display: flex;
							margin: -12px;

							.status {
								width: 50%;
								padding: 12px;

								.status-heading {
									margin-bottom: 18px;
								}

								.status-content {
									border: 1px solid #BC9764;
									padding: 24px;
									display: flex;
									min-height: 240px;

									.card-image {
										width: 50%;
									}

									.card-desc {
										width: 50%;
										padding-left: 20px;

										.membership-name {
											font-size: 14px;
											text-transform: uppercase;
											margin-bottom: 8px;
											font-weight: 700;
										}

										.membership-status {
											display: inline-block;
											padding: 6px 28px;
											color: #fff;
											background-color: #1760B2;
											text-transform: uppercase;
											margin-bottom: 24px;
										}

										.card-number {
											font-size: 14px;
										}
									}

									.loyalty-progress {
										width: 50%;
										text-align: center;
										padding-top: 12px;
										margin-bottom: 24px;
										padding-right: 24px;

										.label {
											display: block;
											margin-bottom: 18px;
											font-size: 14px;
										}

										.progress-container {
											.percentage {
												font-size: 14px;
												font-weight: 700;
												display: inline-block;
												margin-bottom: 12px;
											}

											.bar {
												background-color: #BCBCBC;
												position: relative;
												overflow: hidden;
												border-radius: 12px;
												height: 12px;
												text-align: left;

												.bar-fill {
													display: inline-block;
													position: absolute;
													height: 100%;
													border-radius: 12px;
													background-color: #005473;
												}
											}

											.desc {
												padding-top: 12px;
												font-size: 14px;
											}
										}
									}

									.loyalty-history {
										width: 50%;
										padding-left: 24px;
										border-left: 1px solid $color-text-light;
										font-size: 12px;

										.label {
											margin-bottom: 8px;
										}

										.value {
											font-weight: 700;
										}
									}
								}
							}
						}
					}

					&.help {
						padding-left: 48px;
						padding-right: 48px;

						.section-content {
							padding: 32px 0;
							text-align: center;
							border-top: 1px solid #1A1919;
						}

						.help-link {
							font-weight: 700;
							font-size: 24px;
							color: $color-text;
							text-decoration: underline;
						}
					}

					&.reservation {
						.section-heading {
							display: flex;
							align-items: center;
							justify-content: space-between;

							.title {
								margin-bottom: 0;
							}

							.reservation-history-link {
								font-weight: 700;
								color: $color-text;
							}
						}

						.reservation-search {
							background-color: #414141;
							padding: 32px;
							color: $white;
							border-bottom: 5px solid #BC9764;

							.heading {
								color: $white;
								font-weight: 400;
								text-align: center;
							}

							.form {
								.form-hint {
									display: block;
									padding-top: 8px;
									font-size: 14px;
								}

								.fields {
									display: flex;
									margin: -8px;

									.field {
										width: 33.333333%;
										padding: 8px;

										.label {
											display: block;
											margin-bottom: 8px;
											font-weight: 700;
											font-size: 14px;
										}

										.input {
											width: 100%;
										}
									}
								}

								.action {
									padding-top: 32px;
									display: flex;
									align-items: flex-end;
									justify-content: space-between;

									.notes {
										font-size: 14px;
										padding-right: 48px;
									}

									.submit {
										width: 100%;
										max-width: 280px;

										.button {
											width: 100%;
											padding: 12px 32px;
											background-color: #BC9764;
											text-transform: uppercase;
										}
									}
								}
							}
						}

						.reservation-notes {
							padding-top: 32px;
							font-size: 14px;
						}

						.reservation-empty {
							text-align: center;
							padding-top: 48px;

							p {
								margin-bottom: 8px;
								line-height: 1;
							}

							.button {
								margin-top: 24px;
								padding: 12px 24px;
								width: 100%;
								max-width: 180px;
								text-transform: uppercase;
								background-color: #BC9764;
							}
						}

						.reservation-history {
							.list {
								.item {
									&:not(:last-child) {
										margin-bottom: 48px;
										padding-bottom: 48px;
										border-bottom: 1px solid #868686;
									}

									.booking-detail {

										.heading {
											margin-bottom: 32px;

											.title {
												margin-bottom: 4px;
											}

											.booking-date {
												color: $color-text-light;
												font-weight: 700;
											}
										}

										.detail-head {
											display: flex;
											justify-content: space-between;
											align-items: flex-end;
											margin-bottom: 18px;

											.booking-number {
												.highlight {
													color: #005473;
													font-weight: 700;
												}
											}

											.checkin-date {
												display: flex;
												align-items: center;

												.icon {
													display: inline-block;
													margin: 0 32px;
												}

												.checkin, .checkout {
													.label {
														display: block;
														color: $color-text-light;
													}

													.value {
														font-weight: 700;
													}
												}
											}
										}

										.detail-content {
											display: flex;
											box-shadow: 0 0 5px 2px rgba($black, 0.2);
											border-left: 5px solid #BC9764;
											background-color: $white;

											.number {
												padding: 12px;
												font-size: 20px;
												font-weight: 700;
												display: flex;
												align-items: center;
											}

											.image {
												max-width: 420px;
											}

											.meta {
												padding: 32px 32px 32px 48px;

												.meta-section {
													&:not(:last-child) {
														padding-bottom: 20px;
														margin-bottom: 20px;
														border-bottom: 1px solid #BCBCBC;
													}

													&.room-detail {
														.hotel-name {
															margin-bottom: 8px;
														}

														.room-name {
															color: $color-text-light;
														}

														.occupancy-list {
															list-style-type: none;
															display: flex;
															flex-wrap: wrap;
															width: 100%;
															padding: 0;

															.occupancy-item {
																width: 50%;
																position: relative;
																padding-left: 24px;
																padding-right: 12px;
																margin-bottom: 8px;
																font-size: 14px;

																&:before {
																	content: '';
																	position: absolute;
																	display: inline-block;
																	width: 8px;
																	height: 8px;
																	border-radius: 50%;
																	background-color: #BC9764;
																	left: 0;
																	top: 8px;
																}
															}
														}
													}

													&.booking-total {
														display: flex;
														align-items: center;
														justify-content: space-between;

														.label {
															display: inline-block;
															font-weight: 700;
															padding-right: 32px;
														}

														.value {
															font-weight: 700;
															color: #005473;
														}
													}
												}
											}
										}

										.send-receipt {
											text-align: right;
											padding-top: 18px;

											.link {
												font-weight: 700;
												color: $color-text;
												text-decoration: underline;
											}
										}
									}
								}
							}

							.view-more {
								text-align: center;
								margin-top: 48px;
								padding-top: 32px;
								border-top: 1px solid #868686;

								.link {
									font-weight: 700;
									text-transform: uppercase;
									color: $color-text;
								}
							}
						}
					}

					&.personal-information {
						.information-list {
							display: flex;
							flex-wrap: wrap;


							.information-item {
								width: calc(33.333333% - 24px);
								margin: 12px;
								border: 1px solid #BC9764;
								padding: 24px;
								position: relative;

								.edit-link {
									position: absolute;
									top: 8px;
									right: 16px;
									font-size: 24px;
									color: #005473;
								}

								.title {
									text-transform: uppercase;
									font-weight: 700;
									margin-bottom: 20px;
									padding-right: 32px;
								}

								.list {
									.item {
										font-size: 14px;

										&:not(:last-child) {
											margin-bottom: 12px;
										}

										.label {
											font-weight: 700;
											display: block;
										}
									}
								}
							}
						}
					}
				}

				.myaccount-loyalty {
					.membership {
						.loyalty-point {
							.point {
								margin-bottom: 18px !important;
							}

							.point-exp {
								margin-bottom: 8px;
							}

							.text {
								font-size: 14px;
								opacity: 0.6;
							}

							.redeem-link {
								color: $white;
								font-weight: 700;
							}
						}

						.loyalty-card {
							.loyalty-progress {
								text-align: center;
								padding-top: 12px;
								margin-bottom: 24px;

								.label {
									display: block;
									margin-bottom: 18px;
									font-size: 14px;
								}

								.progress-container {
									.percentage {
										font-size: 14px;
										font-weight: 700;
										display: inline-block;
										margin-bottom: 12px;
									}

									.bar {
										background-color: #BCBCBC;
										position: relative;
										overflow: hidden;
										border-radius: 12px;
										height: 12px;
										text-align: left;

										.bar-fill {
											display: inline-block;
											position: absolute;
											height: 100%;
											border-radius: 12px;
											background-color: #005473;
										}
									}

									.desc {
										padding-top: 12px;
										font-size: 14px;
									}
								}
							}

							.loyalty-card-detail {
								.button {
									padding: 12px 32px;
									background-color: #BC9764;
									color: $white;
								}
							}
						}
					}
				}

				.point-history {
					.section-heading {
						display: flex;
						align-items: center;
						justify-content: space-between;

						.title {
							margin-bottom: 0;
						}

						.missing-point {
							.link {
								font-weight: 700;
								color: $white;
								color: $color-text;
								text-decoration: underline;
							}
						}
					}

					.point-history-table {
						.filter {
							display: flex;
							justify-content: flex-end;
							margin-bottom: 24px;
						}

						.table {
							background-color: #F7F7F7;
							border: none;

							th, td {
								padding: 12px 18px;
							}

							th {
								border-bottom: 1px solid $black;
								border-top: none;
							}

							td {
								border-bottom: 1px solid #CCC;
								color: #747474;

								.point-value {
									font-weight: 700;

									&.plus {
										color: #2A9304;
									}

									&.minus {
										color: #C41211;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.popup-missing-point {
	max-width: 768px;
	margin: 0 auto;
	text-align: center;
	position: relative;

	.popup-header {
		margin-bottom: 24px;
		.title {
			margin-bottom: 8px;
		}
	}

	.popup-content {
		.form {
			.form-submit {
				.button {
					text-transform: uppercase;
					background-color: #BC9764;
				}
			}
		}
	}
}

.popup-birthdate {
	max-width: 768px;
	margin: 0 auto;
	text-align: center;

	.popup-header {
		margin-bottom: 24px;
		.title {
			margin-bottom: 8px;
		}
	}

	.popup-content {
		.form {
			.form-text {
				display: flex;
				align-items: center;

				.label {
					padding-right: 24px;
					font-weight: 700;
					margin-bottom: 0;
					width: 100%;
					max-width: 180px;
					text-align: left;
				}

				.select-group {
					width: 100%;
					display: flex;
					margin: -4px;

					.input {
						width: calc(33.333333% - 8px);
						margin: 4px;
					}
				}
			}

			.form-submit {
				.button {
					text-transform: uppercase;
					color: $color-text;
					background-color: #BC9764;
					width: 100%;
					max-width: 180px;
				}
			}
		}
	}
}

.popup-password {
	max-width: 768px;
	margin: 0 auto;
	text-align: center;

	.popup-header {
		margin-bottom: 24px;
		.title {
			margin-bottom: 8px;
		}
	}

	.popup-content {
		.form {
			.form-text {
				display: flex;
				align-items: center;

				.label {
					padding-right: 24px;
					font-weight: 700;
					margin-bottom: 0;
					width: 100%;
					max-width: 180px;
					text-align: left;
				}
			}

			.form-submit {
				.button {
					text-transform: uppercase;
					color: $color-text;
					background-color: #BC9764;
					width: 100%;
					max-width: 180px;
				}
			}
		}
	}
}

.popup-personal-contact {
	max-width: 768px;
	margin: 0 auto;
	text-align: center;

	.popup-content {
		.form {
			.section {
				margin-bottom: 32px;

				.section-heading {
					margin-bottom: 32px;
				}

				.form-text {
					display: flex;
					align-items: center;

					.label {
						padding-right: 24px;
						font-weight: 700;
						margin-bottom: 0;
						width: 100%;
						max-width: 180px;
						text-align: left;
					}
				}

				&.email {
					.form-text {
						.label {
							max-width: 240px;
						}
					}
				}
			}

			.form-submit {
				.button {
					text-transform: uppercase;
					color: $color-text;
					background-color: #BC9764;
					width: 100%;
					max-width: 180px;
				}
			}
		}
	}
}

.popup-address {
	max-width: 768px;
	margin: 0 auto;
	text-align: center;

	.popup-header {
		margin-bottom: 24px;
		.title {
			margin-bottom: 8px;
		}
	}

	.popup-content {
		.form {
			.form-text {
				display: flex;

				.label {
					padding-right: 24px;
					font-weight: 700;
					margin-bottom: 0;
					width: 100%;
					max-width: 180px;
					text-align: left;
					padding-top: 4px;
				}

				.input-group {
					width: 100%;

					.input {
						&:not(:last-child) {
							margin-bottom: 8px;
						}
					}
				}
			}

			.form-checkbox {
				.label {
					text-align: left;
					display: inline-block;
					padding-left: 12px;
					padding-right: 0;
				}

				margin-bottom: 12px;
			}

			.form-submit {
				padding-top: 24px;

				.button {
					text-transform: uppercase;
					color: $color-text;
					background-color: #BC9764;
					width: 100%;
					max-width: 180px;
				}
			}
		}
	}
}
