.news-container {
	.news-heading {
		padding-bottom: 48px;
		text-align: center;
		text-transform: uppercase;

		.title {
			color: $color-text-dark;
			font-weight: 400;
			margin-bottom: 12px;
		}

		.subtitle {
			@include font-size-400;
			color: $color-text-light;
		}
	}

	.news-slider {
		border-bottom: 5px solid #7C174B;
		margin-bottom: 48px;

		.slides {
			.flickity-page-dots {
				bottom: 0;
				background-color: rgba($black, 0.6);
				padding: 12px 0;

				.dot {
					width: 16px;
					height: 16px;
					border: 2px solid $white;
					margin: 0 6px;

					&.is-selected {
						background-color: $white;
					}
				}
			}
			.slide {
				width: 100%;
				align-items: center;
				position: relative;

				.slide-text {
					position: relative;
					width: 100%;
					color: $white;
					padding: 24px 24px 64px;
					background-color: rgba(#210011, 0.4);

					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						bottom: 0;
						width: 100%;
						background-color: rgba(#7F0C47, 0.4);
					}

					.slide-text-container {
						position: relative;

						.date {
							color: #BCBCBC;
							margin-bottom: 4px;
						}
					}
				}

				@include breakpoint(crawler) {
					.slide-text {
						padding: 32px 32px 64px;
					}
				}

				@include breakpoint(walker) {
					display: flex;

					.slide-text {
						position: absolute;
						max-width: 560px;
						margin-left: 48px;
						padding: 48px 32px;

						&:before {
							left: -48px;
							top: -32px;
							bottom: -32px;
							max-width: 480px;
						}
					}
				}
			}
		}
	}

	.news-list {
		padding: 48px 0 0;
		border-top: 1px solid $color-border-dark;
		margin-bottom: 48px;

		.news-list-heading {
			justify-content: space-between;
			margin-bottom: 48px;

			.heading {
				margin-bottom: 24px;

				.title {
					margin-bottom: 4px;
					font-weight: 400;
					text-transform: uppercase;
				}

				.link {
					color: $color-two-500;
					text-transform: uppercase;
				}
			}

			.search {
				width: 100%;
				max-width: 280px;

				.search-container {
					display: flex;

					.input {
						width: 100%;
						padding: 6px 12px;
					}

					.button {
						background-color: #7C174B;
						color: $white;
						padding: 4px 16px;
						font-size: 19px;
						line-height: 1;
					}
				}
			}

			@include breakpoint(walker) {
				display: flex;

				.heading {
					padding-right: 48px;
					margin-bottom: 0;
				}
			}
		}

		.news-list-content {
			.list {
				flex-wrap: wrap;
				margin: -16px;

				.item {
					width: 100%;
					padding: 16px;

					.link {
						text-decoration: none;
						display: block;
					}

					.date {
						@include font-size-400;
						margin-bottom: 4px;
						color: $color-text-light;
						text-transform: uppercase;
					}

					.title {
						color: $color-two-500;
						margin-bottom: 8px;
					}

					.desc {
						font-size: 14px;
						color: $color-text;
					}

					&:hover {
						.title {
							text-decoration: underline;
						}
					}
				}

				@include breakpoint(walker) {
					display: flex;

					.item {
						width: 50%;
					}
				}
			}

			.list-row {
				.item-row {

					&:not(:last-child) {
						margin-bottom: 32px;
					}

					.image {
						width: 100%;
						margin-bottom: 16px;
					}

					.meta {
						.date {
							margin-bottom: 8px;
							color: #7C174B;
						}

						.title {
							margin-bottom: 12px;
						}

						.button {
							background-color: #7C174B;
							color: $white;
						}
					}

					@include breakpoint(walker) {
						display: flex;

						.image {
							width: 40%;
							margin-bottom: 0;
						}

						.meta {
							width: 60%;
							padding-left: 32px;
						}
					}
				}
			}

			.view-more {
				border-top: 1px solid $color-border-dark;
				margin-top: 32px;
				text-align: center;
				padding-top: 16px;

				.link {
					font-weight: 700;
					text-transform: uppercase;
					color: $color-text;
				}
			}
		}
	}

	.featured-video {
		padding: 48px 0;
		border-top: 1px solid $color-border-dark;

		.featured-video-heading {
			margin-bottom: 48px;

			.title {
				font-weight: 400;
				text-transform: uppercase;
				margin-bottom: 4px;
			}

			.link {
				text-transform: uppercase;
				color: $color-two-500;
			}
		}

		.featured-video-content {
			.js-fluidvids {
				max-width: 768px;
			}
		}
	}
}
