.page-container {
  .page-hero {
    min-height: 640px;
    background-size: cover !important;
    background-position: center !important;
    display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 124px;
		position: relative;

		.hotel-hero-logo {
			padding: 32px;
			width: 100%;
			max-width: 435px;
			text-align: center;
			background-color: rgba(#F9F9F9, 0.8);
		}

    .hero-text {
			text-align: center;
			position: relative;
			z-index: 1;

      .hero-text-container {
        color: $white;
        position: relative;

        .title {
          font-weight: 400;
        }
      }
    }
	}

	.page-hero + .search-filter {
		position: absolute;
		margin-top: -48px;
	}

  .search-filter {
    width: 100%;

    .search-filter-container {
      .filter-head {
        padding: 12px 24px;
        text-align: center;
        background-color: #1A1919;
        color: $white;
      }
      .filter-content {
        background-color: #414141;
        padding: 12px 24px;

        .form {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          .filter-fields {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin: -8px;

            .filter-field {
              padding: 8px;
              width: 25%;

              .input {
                width: 100%;
                padding: 6px 8px;
              }

              select.input {
                padding: 5px 24px 5px 8px;

                option {
                  margin: 0;
                  padding: 0;
                }
              }
            }
          }

          .filter-action {
            padding-left: 16px;
          }
        }
      }
    }
  }

  .page-content {
    background: url('../images/batik-bg.png') no-repeat;
    background-size: 100%;
    background-position: top center;
		padding-top: 48px;
		padding-bottom: 48px;
		min-height: 480px;

		&.with-filter {
			padding-top: 120px;
		}

		&.plain-page-content {
			padding-top: 200px;
		}

		&.zero-bottom {
			padding-bottom: 0;
		}

		.page-content-heading {
			text-align: center;
			margin-bottom: 54px;

			.title {
				font-weight: 400;
				text-transform: uppercase;
			}
		}

		.section {
			.section-heading {
				text-align: center;
				margin-bottom: 48px;

				.title {
					font-weight: 400;
					margin-bottom: 12px;
				}

				.subtitle {
					color: #868686;
				}
			}
		}
  }
}

.page-navigation {
	align-items: center;
	border-top: 1px solid $color-border;
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
	padding-top: 24px;

	@at-root {

		.page-navigation-list {
			@include clearfix;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		.page-navigation-arrow {
			@include clearfix;
			list-style: none;
			margin: 0;
			padding: 0;

			.link {
				height: 32px;
				padding: 0;
				width: 32px;
			}
		}
	}

	.link {
		background-color: $color-one-500;
		border-radius: 4px;
		color: $white;
		display: block;
		min-width: 32px;
		padding: 4px 8px;
		position: relative;
		text-align: center;
		text-decoration: none;
		transition: all 0.2s ease-out;

		&:hover,
		&:focus {
			background-color: $color-one-400;
			color: $white;
		}
	}

	.item {
		float: left;
		margin-right: 4px;

		&:last-child {
			margin-right: 0;
		}

		&.item-current {

			.link {
				background-color: $color-500;
				pointer-events: none;

				&:hover,
				&:focus {
					background-color: $color-500;
				}
			}
		}

		&.item-inactive {

			.link {
				background-color: $color-one-300;
				pointer-events: none;
			}
		}
	}

	.icon {
		fill: $white;
		height: 100%;
		width: 24px;
	}
}
