.popup-inline {
	background-color: $white;
	padding: 24px;
	position: relative;

	@include breakpoint(crawler) {
		padding: 32px;
	}
}

button.mfp-close {
	background-color: transparent;
	color: $black !important;
	right: 12px;

	&:hover {
		background-color: transparent;
	}
}
