.promotion-slider {
  position: relative;

  &:before {
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: $white;
    box-shadow: inset 0 4px 8px rgba($black, 0.08);
    height: 240px;
  }

  .promotion-slider-container {
    background-color: #F9FAF9;
    box-shadow: 0 0 4px 2px rgba($black, 0.04), $box-shadow-400;
    border-bottom: 8px solid #7C174B;
    position: relative;

    .slides {

      .flickity-prev-next-button {
        top: 77%;

        &.previous {
          left: 12px;
        }

        &.next {
          right: 12px;
        }
      }

      .slide {
        width: 100%;

        .slide-image {

        }

        .slide-text {
          padding: 48px;
          text-align: center;

          @include breakpoint(crawler) {
            padding: 48px 64px;
          }

          .heading {
            font-weight: 400;
            margin-bottom: 32px;
          }

          .text {
            color: #868686;
          }
        }
      }

      .flickity-page-dots {
        bottom: 0;
        position: relative;
        padding-top: 48px;
        padding-bottom: 54px;

        .dot {
          width: 18px;
          height: 18px;
          border: 2px solid $black;
          margin: 0 6px;

          &.is-selected {
            background-color: $black;
          }
        }
      }
    }
  }
}

.promotion-detail-container {
  .promotion-detail-heading {
    text-align: center;
    padding-bottom: 48px;
  }

  .promotion-detail-content {
    background-color: #FAFAFA;
    box-shadow: 0 2px 5px 2px rgba($black, 0.2);
    border-bottom: 5px solid #7C174B;

    .promotion-banner {
      margin-bottom: 48px;
    }

    .search-filter {
      margin-bottom: 48px;

      .wrapper {
        padding: 0;
      }
    }

    .promotion-desc {
      padding: 48px;
      position: relative;
      color: $color-text-light;
      text-align: center;

      &:before {
        content: '';
        position: absolute;
        width: calc(100% - 48px);
        border-top: 1px solid #525252;
        top: 0;
        left: 24px;
      }
    }
  }
}
