.procurement-container {

	.procurement-section {
		width: 100%;

		.heading {
			font-weight: 400;
			text-transform: uppercase;
		}

		&.procurement-desc {
			margin-bottom: 48px;

			.wysiwyg-post {
				ul, ol {
					padding-left: 18px;
				}
			}
		}

		&.procurement-form {
			.form {
				.form-submit {
					text-align: right;

					.button {
						text-transform: uppercase;
						color: #FFFFFF;
						background-color: #7C174B;
						width: 100%;
						max-width: 180px;
					}
				}
			}
		}
	}

	@include breakpoint(runner) {
		.inner {
			display: flex;
		}

		.procurement-section {
			width: 50%;

			&.procurement-desc {
				padding-right: 48px;
				margin-bottom: 0;
			}
		}
	}
}

.procurement-tender {
	background-color: #7C174B;
	color: #FFFFFF;
	text-align: center;

	.inner {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.title {
		margin-bottom: 12px;
	}

	.button {
		text-transform: uppercase;
	}
}
