.procurement-container {

	.procurement-section {
		width: 100%;

		.heading {
			font-weight: 400;
			text-transform: uppercase;
		}

		&.procurement-desc {
			margin-bottom: 48px;

			.wysiwyg-post {
				ul, ol {
					padding-left: 18px;
				}
			}
		}

		&.procurement-form {
			.form {
				.form-submit {
					text-align: right;

					.button {
						text-transform: uppercase;
						color: #FFFFFF;
						background-color: #7C174B;
						width: 100%;
						max-width: 180px;
					}
				}
			}
		}
	}

	@include breakpoint(runner) {
		.inner {
			display: flex;
		}

		.procurement-section {
			width: 50%;

			&.procurement-desc {
				padding-right: 48px;
				margin-bottom: 0;
			}
		}
	}
}

.procurement-tender {
	background-color: #7C174B;
	color: #FFFFFF;
	text-align: center;

	.inner {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.title {
		margin-bottom: 12px;
	}

	.button {
		text-transform: uppercase;
	}
}

.procurement-archive {

	@at-root {

		.procurement-archive-items {
			margin: -16px;
			display: flex;
			flex-wrap: wrap;
			border-top: 1px solid $color-500;
			padding-top: 32px;

			.item {
				width: calc(100% - 32px);
				padding: 24px;
				margin: 16px;
				background-color: $white;
				border-left: 5px solid $color-two-500;
				box-shadow: 0 0 8px 2px rgba($black, 0.1);

				.title {
					text-transform: uppercase;
				}

				.desc {
					color: $color-text-light;
				}

				@include breakpoint(crawler) {
					padding: 32px;
				}

				@include breakpoint(walker) {
					width: calc(50% - 32px);
				}
			}
		}

		.procurement-archive-loadmore {
			border-top: 1px solid $color-400;
			margin-top: 48px;
			padding-top: 24px;
			text-align: center;

			.link {
				font-weight: 700;
				display: inline-block;
				color: $color-text;
				letter-spacing: 2px;
			}
		}
	}

}
