.site-container {
	background-color: $white;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;

	&:before {
		content: "";
		background-color: $black;
		height: 100%;
		left: 0;
		opacity: 0;
		transition: opacity 0.2s ease-out;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}
}

.site-header {
	position: absolute;
	width: 100%;
	z-index: 8;

	.wrapper {
		padding: 0;
	}

	@include breakpoint(flyer) {
		.wrapper {
			padding: 0 48px;
		}
	}

	.site-header-container {

		.site-header-frame {
			background-color: #1A1919;
			padding: 16px 0;
		}

		.header-top {
			display: none;
			justify-content: flex-end;
			padding-right: 16px;

			@include breakpoint(runner) {
				display: flex;
			}

			.switch-widget {
				display: flex;
				margin: -4px;

				.switch {
					background-color: #525252;
					padding: 3px;
					display: flex;
					border-radius: 4px;
					margin: 4px;

					.switch-option {
						display: block;
						font-size: 10px;
						color: $white;
						line-height: 1;
						padding: 6px;
						border-radius: 3px;
						font-weight: 700;
						text-decoration: none;

						&.is-current {
							background-color: $white;
							color: #414141;
						}
					}
				}
			}
		}

		.switch-widget-mobile {
			width: 33.333333%;
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
			margin: -4px;
			padding-right: 24px;

			@include breakpoint(walker) {
				padding-right: 32px;
			}

			@include breakpoint(runner) {
				display: none;
			}

			.switch {
				background-color: #525252;
				padding: 3px;
				display: flex;
				border-radius: 4px;
				margin: 4px;

				.switch-option {
					display: block;
					font-size: 10px;
					color: $white;
					line-height: 1;
					padding: 6px;
					border-radius: 3px;
					font-weight: 700;
					text-decoration: none;

					&.is-current {
						background-color: $white;
						color: #414141;
					}
				}
			}
		}

		.header-main {
			display: flex;
			align-items: center;

			.site-header-logo {
				width: 33.333333%;
				margin: 0 32px;
				text-align: center;

				.site-logo {
					width: 100%;
					display: inline-block;
					max-width: 96px;
				}
			}

			.site-header-nav {
				display: none;
				padding-bottom: 8px;

				.items {
					display: flex;
					align-items: center;

					.item {
						padding: 8px 24px;
						float: left;

						a {
							display: block;
							text-align: center;
							color: $white;
							font-weight: 700;
							text-decoration: none;
							transition: all 0.2s ease-in-out;
							font-size: 15px;
						}

						.icon {
							font-size: 18px;
							margin-right: 6px;
						}

						&:hover {
							a {
								color: $color-one-500;
							}
						}

						&.item-current {

							a {
								color: $color-one-500;
							}
						}
					}
				}
			}

			.mobile-menu-toggle {
				display: flex;
				padding-left: 24px;
				align-items: center;
				color: $white;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 700;
				width: 33.333333%;

				.icon {
					margin-right: 12px;
					font-size: 24px;
				}

				@include breakpoint(walker) {
					padding-left: 32px;
				}
			}

			@include breakpoint(runner) {
				align-items: flex-end;
				justify-content: center;

				.site-header-nav {
					display: block;
				}

				.site-header-logo {
					width: 100%;
					max-width: 116px;
					margin-top: -28px;

					.site-logo {
						max-width: 116px;
					}
				}

				.mobile-menu-toggle {
					display: none;
				}
			}
		}
	}
}

.site-content {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	position: relative;
	background-color: #FEFFFE;

	@at-root {
		.site-content-inner {
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			padding-bottom: 48px;
			padding-top: 48px;
			width: 100%;

			@include breakpoint(runner) {
				flex-direction: row;
				justify-content: space-between;
			}
		}
	}
}

.site-footer {
	background-color: $color-bg-dark;
	color: $white;
	flex: 0 0 auto;
	position: relative;
	transition: all 0.3s ease-out;
	width: 100%;
	z-index: 4;

	@at-root {
		.site-footer-inner {
		}
	}

	.site-footer-main {
		padding-top: 48px;
		padding-bottom: 64px;


		.footer-left {
			width: 100%;
			margin-bottom: 64px;

			@include breakpoint(crawler) {
				max-width: 320px;
				padding-right: 64px;
			}

			@include breakpoint(runner) {
				max-width: 400px;
			}

			.newsletter {
				margin-bottom: 24px;

				.label {
					display: block;
					margin-bottom: 12px;
				}

				.button {
					width: 100%;

					@include breakpoint(crawler) {
						max-width: 240px;
					}
				}
			}

			.social-media {
				margin-bottom: 64px;

				.list {
					display: flex;
					flex-wrap: wrap;
					margin: -8px;
					list-style-type: none;
					padding: 0;

					.item {
						margin: 8px;

						.icon {
							font-size: 24px;

							&.instagram {
								color: #B74072;
							}

							&.facebook {
								color: #2876CD;
							}

							&.twitter {
								color: #3DB1E2;
							}
						}
					}
				}
			}
		}

		.footer-right {
			width: 100%;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
			margin: -24px;

			@include breakpoint(crawler) {
				max-width: 300px;
			}

			@include breakpoint(walker) {
				max-width: 540px;
			}

			@include breakpoint(runner) {
				max-width: 100%;
			}

			.footer-nav {
				width: 100%;
				padding: 24px;

				&.wide {
					width: 100%;
				}

				@include breakpoint(walker) {
					width: 50%;

					&.wide {
						width: 50%;
					}
				}

				@include breakpoint(runner) {
					width: 40%;

					&.wide {
						width: 60%;
					}
				}

				.footer-nav-item {
					&:not(:last-child) {
						margin-bottom: 64px;
					}

					.heading {
						margin-bottom: 12px;
					}

					.list {
						padding: 0;
						list-style-type: none;

						.item {
							position: relative;
							padding-left: 16px;

							&:not(:last-child) {
								margin-bottom: 4px;
							}

							a {
								color: $white;
								text-decoration: none;
								text-transform: uppercase;
								font-size: 12px;
								font-weight: 700;
							}

							&:before {
								content: "";
								position: absolute;
								left: 0;
								top: 9px;
								width: 6px;
								height: 10px;
								background: url('../images/list-angle.png') no-repeat;
								background-size: contain;
							}
						}

						&.two-column {
							@include breakpoint(runner) {
								display: flex;
								flex-wrap: wrap;

								.item {
									width: 50%;
									padding: 0 16px;
								}
							}
						}
					}
				}
			}
		}

		@include breakpoint(crawler) {
			.footer-left {
				margin-bottom: 0;
			}

			display: flex;
			justify-content: space-between;
		}
	}

	.site-footer-attribution {
		padding-top: 24px;
		padding-bottom: 24px;
		border-top: 1px solid $white;
		font-size: 13px;
	}
}

.mega-menu {
	.mega-menu-item {
		width: 100%;
		padding: 32px 48px;
		background-color: rgba($black, 0.6);
		border-bottom: 4px solid #7C174B;
		display: none;

		.list {
			padding: 0;
			list-style-type: none;

			.item {
				position: relative;
				padding-left: 32px;

				&:not(:last-child) {
					margin-bottom: 24px;
				}

				&.item-current {
					a {
						color: $color-one-500;
						font-weight: 700;
					}
				}

				a {
					color: $white;
					text-decoration: none;
					transition: color 0.2s ease-in-out;

					&:hover {
						color: $color-one-500;
					}
				}

				&:before {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					background: url('../images/icon-dropmenu.png') no-repeat;
					background-size: cover;
					width: 21px;
					height: 21px;
				}

				.list-child {
					padding: 0;
					padding-top: 12px;
					list-style-type: none;

					.item-child {
						&:not(:last-child) {
							margin-bottom: 12px;
						}

						a {
							color: $white;
							font-weight: 400;

							&:hover {
								color: $color-one-500;
							}
						}

						&.item-child-current {
							a {
								color: $color-one-500;
							}
						}
					}
				}
			}
		}
	}
}

.mobile-menu {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba($black, 0.5);
	z-index: 99;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease-out;
	overflow-y: auto;

	.mobile-menu-container {
		width: 280px;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		background-color: #000000;
		padding: 32px 0;
		transform: translateX(-280px);
		transition: all 0.3s ease-out;

		.myaccount-section {
			border-bottom: 1px solid #292929;
			margin-bottom: 8px;

			.link {
				display: flex;
				align-items: center;
				padding: 16px 24px;
				text-decoration: none;
				color: $color-one-500;

				.icon {
					margin-right: 8px;
				}
			}
		}

		.mobile-menu-nav {
			.items {
				.item {
					a {
						display: flex;
						justify-content: space-between;
						padding: 8px 24px;
						color: $white;
						text-decoration: none;
						transition: color 0.2s ease-in-out;

						&:hover {
							color: $color-one-500;
						}
					}

					&.item-current {
						a {
							color: $color-one-500;
						}
					}
				}

				& + .items {
					border-top: 1px solid #292929;
					padding-top: 8px;
					margin-top: 8px;
				}
			}
		}
	}

	&.is-toggled {
		visibility: visible;
		opacity: 1;

		.mobile-menu-container {
			transform: translateX(0);
		}
	}
}
